.citymap-page {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #313131;
  display: flex;
  flex-direction: column;
}

.map-container {
  flex: 1;
  width: 100%;
  min-height: 0;
  z-index: 1;
}

.leaflet-container {
  background: #313131 !important;
}

.leaflet-control-container {
  display: none;
}

.leaflet-image-layer {
  image-rendering: pixelated;
}