.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: rgba(0,0,0, 0.3);
    backdrop-filter: blur(10px);
}

.nav-links {
    display: flex;
    gap: 60px;
}

.nav-link {
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    transition: all 0.4s ease;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0%;
    height: 3px;
    background: linear-gradient(90deg, #ff9d00, #ff4800);
    transition: width 0.4s ease;
    border-radius: 2px;
}

.nav-link:hover {
    background: linear-gradient(90deg, #ffae00, #ff5300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 12px rgba(255, 170, 50, 0.6);
}

@media (max-width: 600px) {
    .nav-links {
        gap:30px;
    }
    .nav-link {
        font-size: 1.1rem;
    }
}

